html {
    scroll-behavior: smooth;
}

body {
    background-color: rgb(239, 239, 239);
    margin: 0;
    text-align: center;

}

#navigation {
    height: 40px;
    width: 100%;
    text-align: right;
    display: inline-flexbox;
    overflow: hidden;
    position: fixed;
    top: 0;
    margin-top: 10px;
    width: 100%;
}

.pageLink {
    font-size: 20px;
    color: rgb(40, 40, 40);
    margin-right: 10px;
    margin-left: 10px;
    font-family: 'Candara';
    text-decoration: none;
}

#navigation a:hover {
    opacity: 50%;
}

#currentPage {
    color: rgb(40, 40, 40);
    font-weight: bold;
}

.tabLinks {
    margin-right: 5px;
    margin-left: 5px;
}

.tabLinks img {
    width: 32px;
    height: 32px;
    margin-right: 5px;
    margin-left: 5px;
}

.title {
    text-align: center;
    font-family: 'Candara';
    color: rgb(40, 40, 40);
    background-image: url(./Assets/banner.png);
    font-size: 1.5vw;
}

.image {
    vertical-align: middle;
    text-align: center;
    float: left;
}

.projectLink img {
    height: 400px;
    width: 600px;
    margin: 10px;
    border: 3px solid;
    border-color: rgb(40, 40, 40);
    transition: transform .2s;
    vertical-align: middle;
}

.projects {
    display: inline-block;
    text-align: center;
}

.projectLink img:hover {
    transform: scale(1.05);
    border-color: greenyellow;
}

.projectLink {
    position: relative;
    display: inline-block;
}

.projectLink .tooltiptext {
    visibility: hidden;
    width: auto;
    padding: 10px;
    background-color: rgb(40, 40, 40);
    color: rgb(239, 239, 239);
    text-align: center;
    border-radius: 6px;

    position: absolute;
    bottom: 8px;
    left: 16px;
    z-index: 1;
}

.projectLink:hover .tooltiptext {
    visibility: visible;
}

.tooltiptext {
    font-size: 20px;
}

.headerImage {
    height: 600px;
    width: 900px;
    margin-right: 8px;
    margin-left: 8px;
    border: 3px solid;
    border-color: rgb(40, 40, 40);
}

#pText {
    color: rgb(40, 40, 40);
    /* text-align: center; */
    font-family: 'Candara';
    text-decoration: none;
    font-size: 2vw;
    margin-right: 20%;
    margin-left: 20%;
    padding: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}

#pText a{
    text-decoration: none;
    color: rgb(40, 40, 40);
}

#contact a {
    color: rgb(40, 40, 40);
    text-align: center;
    font-family: 'Candara';
    font-size: 35px;
    padding: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-style: italic;
}

#about {
    margin-top: 5%;
    margin-bottom: 5%;
}

#contact {
    margin-top: 5%;
    margin-bottom: 5%;
}

.footerImage img {
    height: 5%;
    width: 5%;
    margin-right: 1%;
    margin-left: 1%;
    margin-top: 2%;
    text-decoration: none;
}

.footerImage a {
    text-decoration: none;
}

#contact a:hover {
    opacity: 50%;
}

.email {
    position: absolute;
    margin-left: 45vw;
    margin-right: 45vw;
    left: 0;
    right: 0;
    text-align: center;
}

ol {
    display: inline-block;
    text-align: left;
  }

  .center span {
    text-align: center;
  }

