body {
    background-color: white;
    margin: 0;
}

.navigation {
    padding: 5px;
    margin: 0;
    background-color: grey;
    height: 40px;
    width: 100%;
    text-align: right;
    display: inline-flexbox;
}

.pageLink {
    font-size: 20px;
    color: black;
    margin-right: 10px;
    margin-left: 10px;
    font-family: 'Candara';
    text-decoration: none;
}

.navigation a:hover {
    color: white;
}

#currentPage {
    color: black;
    font-weight: bold;
}

.tabLinks {
    margin-right: 5px;
    margin-left: 5px;
}

.tabLinks img {
    width: 32px;
    height: 32px;
    margin-right: 5px;
    margin-left: 5px;
}

.title {
    text-align: center;
    font-family: 'Candara';
    color: black;
}

.image {
    vertical-align: middle;
    text-align: center;
    float: left;
}

.tabLinks:hover {
    filter: invert(100%);
}