body {
    background-color: orange;
    margin: 0;
}

.navigation {
    background-color: grey;
    height: 40px;
    width: 100%;
    text-align: right;
    display: inline-flexbox;
}

.pageLink {
    font-size: 20px;
    color: black;
    margin-right: 10px;
    margin-left: 10px;
    font-family: 'Candara';
    text-decoration: none;
}

.navigation a:hover {
    color: white;
}

#currentPage {
    color: black;
    font-weight: bold;
}

.tabLinks {
    margin-right: 5px;
    margin-left: 5px;
}

.tabLinks img {
    width: 32px;
    height: 32px;
    margin-right: 5px;
    margin-left: 5px;
}

.title {
    text-align: center;
    font-family: 'Candara';
    color: black;
}

.image {
    vertical-align: middle;
    text-align: center;
    float: left;
}

.tabLinks:hover {
    filter: invert(100%);
}

.projectLink img {
    height: 400px;
    width: 600px;
    margin-right: 8px;
    margin-left: 8px;
    margin-top: 8px;
    border: 3px solid;
    border-color: black;
    transition: transform .2s;
}

.projects {
    display: inline-block;
}

.projectLink img:hover {
    transform: scale(1.05);
    border-color: greenyellow;
}

.projectLink {
    position: relative;
    display: inline-block;
}

.projectLink .tooltiptext {
    visibility: hidden;
    width: auto;
    padding: 10px;
    background-color: black;
    color: white;
    text-align: center;
    border-radius: 6px;

    position: absolute;
    bottom: 8px;
    left: 16px;
    z-index: 1;
}

.projectLink:hover .tooltiptext {
    visibility: visible;
}

.tooltiptext {
    font-size: 20px;
}