body {
    background-color: white;
    margin: 0;
  }

.navigation{
    padding: 5px;
    margin: 0;
    text-align: center;
    background-color: grey;
    height: 40px;
}

.pageLink {
    font-size: 20px;
    /* vertical-align: middle; */
    color: white;
    margin-right: 5px;
    margin-left: 5px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.navigation a:hover{
    color: red;
}

#currentPage {
  color: black;
  font-weight: bold;
}

.tabLinks {
    margin-right: 5px;
    margin-left: 5px;
    vertical-align: middle;
    float: right;
}

.tabLinks img {
    width: 32px;
    height: 32px;
  }